@import 'variables';

.footer {
  height: 200px;
  width: 100%;
  background-color: $blue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 200px 0px 0px;
  padding: 20px 10px 0px;
}


.footer-slogan {
  font-size: $text-lg;
  color: white;
  margin-bottom: 5px;
}


.footer-img {
  height: 60px;
  width: auto;
  margin: 5px;
}


.footer-copyright {
  color: white;
  align-self: flex-end;
  margin: 10px 10px 0px;
}

@media only screen and (max-width: 1024px) {

    .footer {
      width: 100%;
    }


    .footer-slogan {
      font-size: $text-md;
    }


    .footer-img {
      height: 45px;
    }

    .footer-copyright {
      padding-top: 30px;
      font-size: 9px;
      align-self: center;
    }
}
