@import 'variables';

.footer {
  height: 200px;
  width: 100%;
  background-color: $blue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 100px 0px 0px;
  padding: 20px 10px 0px;
}


.footer-slogan {
  font-size: $text-lg;
  color: white;
  margin-bottom: 5px;
}


.footer-img {
  height: 60px;
  width: auto;
  margin: 5px;
}


.footer-copyright {
  color: white;
  align-self: flex-end;
  margin: 10px 10px 0px;
}
