@import 'variables';

.navbar {
  height: 90px;
  width: 100%;
  box-shadow: 0px 0px 30px $grey;
  z-index: 10;

  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}


.navbar-img {
  height: 30px;
  width: auto;
  margin-left: 20px;
}


.navbar-txt {
  font-size: $text-lg;
  margin-right: 20px;
}
