@import 'variables';

.title-section {
  padding: 200px 200px 60px;
}


.title {
  font-size: $text-lg;
  font-weight: 300;
  position: relative;

  &::before {
    content: url("assets/triangle.svg");
    height: 150px;
    width: 75px;
    position: absolute;
    left: -56px;
    top: -40px;
    z-index: -1;
  }
}
