@import 'variables';

.content{
  padding: 100px 150px;
}

.title {
  color: black;
  font-size: $text-lg;
  font-weight: 300;
  position: relative;

  &::before {
    content: url("assets/triangle.svg");
    height: 150px;
    width: 75px;
    position: absolute;
    left: -56px;
    top: -40px;
    z-index: -1;
  }
}
