@import 'variables';

.tech-img {
  height: 100px;
  width: 100px;
}


.tech-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: fit-content;

  position: relative;
  z-index: 0;

  &:first-child {
    grid-row: 1 / span 2;
    align-self: center;
    border-right: 2px solid $green;
  }
}


.tech-set {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  grid-gap: 0px 80px;
}


.tech-name {
  font-size: $text-md;
  font-weight: 300;
  margin: 10px;
}


.tech-release {
  font-size: $text-sm;
  font-weight: bold;
  margin: 5px 15px 15px;
}


.tech-description {
  width: 150px;
  font-size: $text-sm;
  font-weight: 500;
  margin: 10px;
  text-align: center;
}
