@import 'variables';

.tech-set {
  display: flex;
  flex-wrap: wrap;

  margin: 0px 220px;
  justify-content: flex-start;
}


.tech-block {
  border: 1px solid $green;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 320px;
  width: fit-content;

  padding: 30px;
  margin: 20px 20px 20px;

  position: relative;
  z-index: 0;

  &::before {
    transition: top 0.5s ease;
    transition: left 0.5s ease;

    background-color: $green;
    border-radius: 5px;
    content: "";

    position: absolute;
    left: 10px;
    top: 10px;

    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &:hover::before {
    top: -10px;
    left: -10px;
  }
}


.tech-img {
  height: 100px;
  width: 100px;
}


.tech-name {
  font-size: $text-md;
  font-weight: 300;
  margin: 10px;
}


.tech-release {
  font-size: $text-sm;
  font-weight: bold;
  margin: 5px 15px 15px;
}


.tech-description {
  width: 150px;
  font-size: $text-sm;
  font-weight: 500;
  margin: 10px;
  text-align: center;
}
