@import 'variables';

.title-section {
  padding: 200px 200px 60px;
}


.title {
  color: black;
  font-size: $text-lg;
  font-weight: 300;
  position: relative;

  &::before {
    content: url("assets/triangle.svg");
    height: 150px;
    width: 75px;
    position: absolute;
    left: -56px;
    top: -40px;
    z-index: -1;
  }
}

@media only screen and (max-width: 1024px) {


  .title {
    font-size: 35px;
    font-weight: 300;

    &::before {
      height: 200px;
      width: 100px;
      left: -78px;
      top: -50px;
    }
  }


  .title-section {
    padding: 270px 0px 60px;
    display: flex;
    justify-content: center;
  }
}
